<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>document</title>

</head>
<body>
<form action="/users/login" method="post">
    <div>
        Username: <input type="text" name="username">
    </div>
    <div>
        password :<input type="password" name="username">
    </div>
    <div>
        user type:<select name="usertype">
        <option value="User">User</option>
        <option value="Admin">Admin</option>
    </select>
    </div>

</form>
</body>
</html>